*{
    box-sizing:border-box;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    margin:0;
    padding:0;
    font-weight:200;
    text-decoration:none;
}

#screen{
    display:flex;
    flex-direction:row;
    position:relative;

}
#logo img{
    display:block;
    width:150px;
    border-radius:50%;
    position:absolute;
    left:20px;
    top:20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation-name:logo;
    animation-duration:2s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;


}

#logo img:active{
    animation-play-state:paused;
    width:400px;
    top:50%;
    left:50%;
}

/* #terms{
    background-color: white;
    color:black;
    font-size:16px;
    height:400px;
    width:300px;
    position:absolute;
    top:300px;
    right:850px;
    border-radius:4px;
    visibility: hidden;
   

} */

#i_terms{
    padding:30px
}
#terms h2{
    font-weight:800;
    margin-bottom:10px;
    
}
#i_terms #hr{
    margin-bottom:30px;
}

@keyframes logo{
    0%{
        transform:translateY(0px)
    }
    100%{
        transform:translateY(50px)
        
    }
}

#sc_img{
    font-size:48px;
    height:100vh;
    width:100vw;
    font-weight:300;
    display:flex;
    justify-content:center;
    text-align:center;
    color:white;
    background-image:url('bg7.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}
#text{
    font-weight:300;
    margin-top:50px;
    
}



#log{
    
   
    position:absolute;
    right:20px;

    
   
}

#i_log{
    padding:20px 30px 20px 30px;
}
#i_acc{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:40px 0 40px 0;
}

#i_acc button div{
    display:flex;
    align-items:center;

}
#i_acc button {
    display:block;
    width:272px;
    color:#444444;
    border:0;
    margin:12.4px;
    border-radius:4px;
    
    



}

#i_acc img{
    height:42.8px;
    border-radius:4px 0 0 4px;
}

#i_acc span{
    
    display:inline-block;
    margin:auto;
    font-weight:800;
    font-size:16px;
}


#hr{
    background-color: white;
    height:1px;
    margin-left:20px;
    margin-right:20px;

}

#hr_or{
    width:30px;
    display:block;
    margin:auto;
    color:white;
    font-size:24.4px;
    background-color: #abd8db;
    position:relative;
    bottom:17px;
    padding:0 5px 0 5px;

}

#inp h2{
    margin-top:20px;
    text-align:center;
}
#i_inp{
    margin-top:20px;
}
.info{
    margin:15px;
}

.info label{
    display:block;
}
.info input{
    height:40px;
    width:300px;
}

#terms{
    background-color: white;
    color:black;
    font-size:16px;
    height:400px;
    width:300px;
    position:absolute;
    top:300px;
    right:640px;
    border-radius:4px;
    box-shadow:10px 10px 10px  rgb(87, 86, 86,0.9);
    opacity:0;

    transition:all 0.5s ease-in 0s;
    
    
  

}

#div_cond{
    margin-bottom:20px;
    
    
    
}
#div_cond:hover #terms{
    
      
    opacity:1
  
}
#div_cond label{
    display:inline-block;
}

#cond{
    height:auto;
    width:auto;
}


#i_inp{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

#sub{
    padding:10px 28px 10px 28px;
    border-radius:4px;
    margin:15px;
    background-color: black;
    color:white;
    font-weight:800;
    font-size:16px;
    display:block;
    margin:auto;
  
}

.focus{
    padding-left:10px;
}

.focus:focus{
    background-color: rgb(62, 61, 61);
    color:white;
    border:4px solid rgb(209, 207, 207);
}